/* CSS for wrapper div */
#wrapper
{
  padding: 25px;
}


/* CSS for header */
#header
{
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
}

/* CSS for inputs */
.input
{
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
}


/* CSS for table */
table
{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* CSS for images */
.image
{
  height: 125px;
  margin: 10px;
  border: 1px solid black;
}

/* CSS for th & td element */
th, td
{
  font-family: 'Times New Roman', Times, serif;
}
th
{
  font-size: large;
  color: black;
}
