/* CSS for wrapper div */
#wrapper
{
  padding: 20px;
}

/* CSS for header */
#header
{
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
}

/* CSS for inputs */
.input
{
  margin: 15px;
}

/* CSS for table */
table
{
  width: 90%;
  margin: 15px;
}

/* CSS for images */
.image
{
  height: 75px;
  margin: 2px;
}
