<div class="background accent" id="wrapper">
  <!-- The actual container for the text -->
  <mat-card>
    <!-- Mat-Card Title -->
    <mat-card-title>Q & A</mat-card-title>

    <!-- Mat-Card Content -->
    <mat-card-content>

      <div class="row">

        <!-- The text of About Us -->
        <div class="col">
          <p>
            Something something tea.
          </p>
          <p>
            Something something company.
          </p>
          <p>
            Something something history.
          </p>
          <p>
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
          </p>
        </div>

        <!--
          Mat-Card Image
          Note that putting the image in a column breakes the alignment.
        -->
        <img mat-card-image src="assets/images/Tea 1.jpg"
             alt="Tea 1" id="image">
      </div>
    </mat-card-content>
  </mat-card>
</div>
