/* CSS for wrapper */
#wrapper
{
  padding: 25px;
}

/* CSS for image */
#image
{
  width: 50%;
  margin: 10px;
  border: 1px solid black;
  /* I am using flex to align the image to the left */
  display: flex;
  flex-direction: row-reverse;
}
