<!-- If cart is empty -->
<div *ngIf="cart.num_of_products == 0"
     id="empty_wrapper" class="background accent">

  <!-- Mat-Card -->
  <mat-card id="empty_card">

    <!-- Mat-Card Title -->
    <mat-card-title class="font">Your Cart</mat-card-title>

    <!-- Mat-Card Content -->
    <mat-card-content>
      <p>Your Cart is Empty</p>

      <!-- Product List Button -->
      <a [routerLink]="['/products']" routerLinkActive="active">
        <button mat-raised-button color="primary" class="font">
          <mat-icon aria-hidden="false" aria-label="icon">
            shopping_cart
          </mat-icon>
          Return Shopping
        </button>
      </a>
    </mat-card-content>

  </mat-card>

</div>



<!-- If cart isn't empty -->
<div *ngIf="cart.num_of_products != 0"
     id="wrapper" class="background accent">

  <!-- Mat-Card -->
  <mat-card>

    <!-- Mat-Title -->
    <mat-card-title class="font">
      Your Cart
    </mat-card-title>

    <!-- Mat-Card Content -->
    <mat-card-content class="font">

      <hr color="primary">

      <!-- Mat Table to display shopping list -->
      <table mat-table [dataSource]="cart.purchases"
             class="mat-elevation-z5">

        <!-- Image Column -->
        <ng-container matColumnDef="imageUrl">
          <th class="background primary"
              mat-header-cell *matHeaderCellDef>Image</th>
          <td mat-cell *matCellDef="let purchase of purchases">
            <a [routerLink]="['/products', purchase.product.id]"
               routerLinkActive="active">
              <img alt="No Image Found" class="image"
                   [src]="purchase.product.imageUrl"
                   [title]="purchase.product.productName">
            </a>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="productName">
          <th class="background primary"
              mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let purchase of purchases">
            <a [routerLink]="['/products', purchase.product.id]"
               routerLinkActive="active">
              {{purchase.product.productName}}
            </a>
          </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th class="background primary"
              mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let purchase of purchases">
            {{purchase.amount}}
          </td>
        </ng-container>

        <!-- Cost Column -->
        <ng-container matColumnDef="cost">
          <th class="background primary"
              mat-header-cell *matHeaderCellDef>Cost</th>
          <td mat-cell *matCellDef="let purchase of purchases">
            <!-- Use a pipe to limit to 2 decimal places -->
            ${{(purchase.amount * purchase.product.price)
                  | number: '1.2-2'}}
          </td>
        </ng-container>

        <!-- Remove Product Button Column -->
        <ng-container matColumnDef="remove">
          <th class="background primary"
              mat-header-cell *matHeaderCellDef>Remove</th>
          <td mat-cell *matCellDef="let purchase of purchases">
            <!-- Add button for removal -->
            <button mat-icon-button color="primary"
                    (click)="removeShoppingCart(
                      purchase.product, purchase.amount)">
              <mat-icon>clear</mat-icon>
            </button>
          </td>
        </ng-container>


        <!-- Row Display -->
        <tr mat-header-row *matHeaderRowDef="rowTable"></tr>
        <tr mat-row *matRowDef="let row; columns: rowTable;"></tr>

      </table>

      <hr color="primary">

      <h4 class="font">Total: ${{cart.total | number: '1.2-2'}}</h4>

    </mat-card-content>
  </mat-card>

</div>
