/* CSS for Empty Wrapper */
#empty_wrapper
{
  padding: 20px;
  /* Stopgap height cause I don't know how to make footer at the bottom
     of the page. */
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/* CSS for Empty Card */
#empty_card
{
  width: fit-content;
  text-align: center;
}



/* CSS for Wrapper div */
#wrapper
{
  padding: 20px;
}

/* CSS for Card */




/* CSS for font */
.font
{
  font-family: 'Times New Roman', Times, serif;
}

/* CSS for mat-card title */
mat-card-title
{
  font-weight: bold;
}
