/* CSS for Disclaimer Message */
#disclaimer
{
  padding: 10px;
  margin: 0px;
  font-family: 'Times New Roman', Times, serif;
}


/* CSS for Carousel */
.carousel
{
  padding: 1% 1% 1% 1%;
}

/* CSS for Carousel Images */
.carousel-image
{
  width: 100%;
}

/* CSS for Carousel Caption */
.carousel-caption
{
  text-shadow: 1px 1px black;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}


/* CSS for Grid Rows */
.rows
{
  margin: 0px;
}

/* CSS for Grid Modules */
.grid-module
{
  margin: 25px;
}

/* CSS for Grid Images */
.grid-image
{
  border: 1px solid black;
}
