<!--
  I will use Angular Material to construct stuff.
  Use a div as the warp structure.
-->

<div id="header" class="container-fluid background primary">

  <!-- Logo Image -->
  <a [routerLink]="['/home']" routerLinkActive="active">
    <img src="../assets/images/Logo.png" alt="Logo" id="logo" />
  </a>

  <!-- Navigation List -->
  <div id="header-container">
    <ul>
      <!-- Home -->
      <li>
        <a [routerLink]="['/home']" routerLinkActive="active">
          <button mat-button class="button">
            Home</button>
        </a>
      </li>

      <!-- Products -->
      <li>
        <a [routerLink]="['/products']" routerLinkActive="active">
          <button mat-button class="button">
            Products</button>
        </a>
      </li>

      <!-- About Us -->
      <li>
        <a [routerLink]="['/about-us']" routerLinkActive="active">
          <button mat-button class="button">
            About Us</button>
        </a>
      </li>
    </ul>
  </div>

  <!-- Shopping Cart Icon -->
  <div id="shopping_cart">
    <a [routerLink]="['/shopping-cart']" routerLinkActive="active">
      <mat-icon aria-hidden="false" aria-label="icon">
        shopping_cart
      </mat-icon>
    </a>
  </div>

</div>


<!--
  Router Outlet
-->
<router-outlet></router-outlet>



<div id="footer" class="container-fluid background primary">
  <div class="row">

    <div class="col-4">
      <h3>Social Media</h3>
      <p>Facebook</p>
      <p>Twitter</p>
      <p>Youtube</p>
    </div>

    <div class="col-4">
      <h3>Customer Support</h3>
      <a [routerLink]="['/q-a']" routerLinkActive="active">
        Q & A</a>
    </div>

    <div class="col-4">
      <h3>About Us</h3>
      <a [routerLink]="['/about-us']" routerLinkActive="active">
        About Us</a>
    </div>

  </div>
</div>
