/* CSS for Header ~ ID */
#header
{
  height:fit-content;
  padding:5px;
  position:sticky;
}

/* CSS for Header Container ~ ID */
#header-container
{
  display: flex;
  align-items: flex-end;
}

/* CSS for Logo ~ ID */
#logo
{
  width:fit-content;
  height:fit-content;
  margin:5px;
  display:inline;
  float:left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin:5px;
}
