<!--
  I will use Angular Material to construct stuff.
  Try using Material Card as basis?
-->

<mat-card id="card" class="background primary">
  <!--
    Header
    Try using Material Card header for this?
  -->
  <mat-card-header id="header" class="background primary">

    <!-- Logo Image -->
    <a [routerLink]="['/home']" routerLinkActive="active">
      <img src="../assets/images/Logo.png" alt="Logo" id="logo" />
    </a>

    <!-- Navigation List -->
    <div class="container" id="header-container">
      <ul>
        <!-- Home -->
        <li>
          <a [routerLink]="['/home']" routerLinkActive="active">
            <button mat-button color="accent" class="button">
              Home</button>
          </a>
        </li>

        <!-- Products -->
        <li>
          <a [routerLink]="['/products']" routerLinkActive="active">
            <button mat-button color="accent" class="button">
              Products</button>
          </a>
        </li>

        <!-- About Us -->
        <li>
          <a [routerLink]="['/about-us']" routerLinkActive="active">
            <button mat-button color="accent" class="button">
              About Us</button>
          </a>
        </li>
      </ul>

    </div>
  </mat-card-header>
</mat-card>
