/* Header */
#header
{
  height: fit-content;
  padding: 10px;
  position: sticky;
  display: flex;
  align-items: flex-end;
}

/* Logo */
#logo
{
  width: fit-content;
  height: fit-content;
  display: inline;
  float: left;
}


/* CSS for Navigational Stuff */

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li
{
  float: left;
  margin: 5px;
}

/* Stuff for buttons */
.button
{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}


/* Footer */
#footer
{
  padding: 20px;
  position: absolute;
  bottom: 0;
}

/* Footer Text */
.footer-links, a, p, h3
{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  text-decoration: none;
}
