/* Header */
#header
{
  height: fit-content;
  padding: 10px;
  position: sticky;
  display: flex;
  align-items: flex-end;
}

/* Logo */
#logo
{
  width: fit-content;
  height: fit-content;
  display: inline;
  float: left;
}


/* CSS for Navigational Stuff */

ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li
{
  float: left;
  margin: 5px;
}

/* Stuff for buttons */
.button
{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}


/* Footer */
#footer
{
  padding: 20px;
}

/* Footer Text */
.footer-links
{
  font-family: 'Times New Roman', Times, serif;
  color: black;
}


/* CSS for Shopping Cart */
#shopping_cart
{
  margin-left: 10px;
  margin-right: 15px;
}


/* CSS for Theme Toggle */
#theme-toggle
{
  margin-left: auto;
  margin-right: 10px;
}
