/* CSS for wrapping container */
#wrapper
{
  padding: 20px;
}

/* CSS for image */
#image
{
  width: fit-content;
  height: fit-content;
  margin: 10px;
  border: 1px solid black;
  /* I am using flex to align the image to the right. */
  display: flex;
  flex-direction: row-reverse;
}
