<!-- Set-up a div as the container -->
<div class="background primary" id="wrapper">
  <!-- The actual container for the text -->
  <mat-card>
    <!-- Mat-Card Title -->
    <mat-card-title class="font">About Us</mat-card-title>

    <!-- Mat-Card Content -->
    <mat-card-content class="font">

      <div class="row">

        <!-- The text of About Us -->
        <div class="col">
          <p>
            Something something tea.
          </p>
          <p>
            Something something company.
          </p>
          <p>
            Something something history.
          </p>
          <p>
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
            Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah
          </p>
        </div>

        <!--
          Mat-Card Image
          Note that putting the image in a column breakes the alignment.
        -->
        <img mat-card-image src="assets/images/Tea 2.jpg"
             alt="Tea 2" id="image">
      </div>
    </mat-card-content>
  </mat-card>
</div>
