/*
 * Gonna try to set up a Angular Material Theme Mixin for applying
 * colours and such.
 */

// Import Theming
@import '~@angular/material/theming';

// Include Material Core
@include mat-core();



// The Colour Mixin
@mixin theme-colours($mock-theme)
{
  // Obtain the palettes
  $p: map-get($mock-theme, primary);
  $a: map-get($mock-theme, accent);
  $w: map-get($mock-theme, warn);

  // Obtain the colours
  $primary: mat-color($p);
  $accent: mat-color($a);
  $warning: mat-color($w);


  // Colour Setup:

  .colour.primary
  {
    color: $primary;
  }

  .colour.accent
  {
    color: $accent;
  }

  .colour.warning
  {
    color: $warning;
  }


  // Background Setup:

  .background.primary
  {
    background-color: $primary;
  }

  .background.accent
  {
    background-color: $accent;
  }

  .background.warning
  {
    background-color: $warning;
  }


  // Outline Setup:

  .outline.primary
  {
    outline-color: $primary;
  }

  .outline.accent
  {
    outline-color: $accent;
  }

  .outline.warning
  {
    outline-color: $warning;
  }
}



// Pretty sure I don't really need typography? At least for now.
