/*
 * Gonna try to set up a Angular Material Theme Mixin for applying
 * colours and such.
 */
 @use '~@angular/material' as mat;

 /* Import Theming: */
 @import '~@angular/material/theming';

 /* Include Material Core: */
 @include mat.core();

 /* Import the actual theme: */
 @import './custom-theme.scss';


$theme-primary: mat.get-color-from-palette($mock-primary);
$theme-accent: mat.get-color-from-palette($mock-accent);
$theme-warn: mat.get-color-from-palette($mock-warn);
