<!-- div as wrapper -->
<div id="wrapper" class="background primary">

  <!-- Material Card to hold the actual text -->
  <mat-card id="card">
    <!-- Mat-Card Title -->
    <mat-card-title class="font">Page Not Found!</mat-card-title>

    <!-- Mat-Card Content -->
    <mat-card-content class="font">
      <p>The page you are looking for doesn't exist.</p>

      <!-- Return Button -->
      <a [routerLink]="['/home']" routerLinkActive="active">
        <button mat-raised-button color="primary" class="font">
          Return to Home</button>
      </a>
    </mat-card-content>
  </mat-card>
</div>
